.Rproj.user
.Rhistory
.RData
.Ruserdata
data_norun
*.tsv
*.zip
**/omnipathr-log/*
*.pdf
.DS_Store
.nextflow
work
.nextflow.log*
*.pyc
Stats.nb.html
heatmaps
*.gz
*.rds
*.html
nextflow
*.svg
*.jpg
*.jpeg
*.png
*.pdf
*.Rmd
*.csv
*.gct
*.tsv
*.zip
*.tar.gz
*.swp
*.gct 
*.txt
*.RDataTmp
*.RData
*.Rhistory
*.Rproj
*.Rproj.user
*.qs
*.sif
*.sif
flop_cont.sif
benchmark_data/*
*.xlsx
*.Identifier
unproc_data/*
