dag {
    enabled = true
    file = 'flop_benchmark.png'
    overwrite = true
}

report {
    enabled = true
    file = 'flop_benchmark_report.html'
    overwrite = true
}

profiles {

    standard {
        process.executor = 'local'
    }

    cluster {
        process.executor = 'slurm'
        process.cpus = 2
        process.memory = '32GB'
        process.errorStrategy = 'retry'
        process.maxRetries = 3
        process.time = '10h'
    }

}
