dag {
    enabled = true
    file = 'flop.png'
    overwrite = true
}

report {
    enabled = true
    overwrite = true
}

profiles {

    standard {
        process.executor = 'local'
    }

    cluster {
        process.executor = 'slurm'
        process.cpus = 2
        process.errorStrategy = 'retry'
        process.maxRetries = 2
        process.time = '72h'
    }

}
